html, body {
   padding:0;
   margin:0;
   display: flex;
   width: 100%;
   height: 100%;
}

.pikcha{
    width: 720px;
    height: auto;
}



button{
    border: 0;
    min-size: 2px;
    background: transparent;
    cursor: pointer;
}

button:hover{
    color:aqua;
}

#proh1{
    position: absolute;
    top: 49px;
    left: 43px;
    width: 55px;
    height: 38px;
}


#proh2{
    position: absolute;
    top: 49px;
    left: 100px;
    width: 47px;
    height: 38px;
}


#proh3{
    position: absolute;
    top: 49px;
    left: 149px;
    width: 23px;
    height: 18px;
}


#proh4{
    position: absolute;
    top: 68px;
    left: 149px;
    width: 23px;
    height: 20px;
}


#proh5{
    position: absolute;
    top: 49px;
    left: 174px;
    width: 24px;
    height: 7px;
}



#proh6{
    position: absolute;
    top: 58px;
    left: 174px;
    width: 13px;
    height: 9px;
}

#proh7{
    position: absolute;
    top: 69px;
    left: 174px;
    width: 13px;
    height: 19px;
}

#proh8{
    position: absolute;
    top: 49px;
    left: 200px;
    width: 23px;
    height: 14px;
}

#proh9{
    position: absolute;
    top: 65px;
    left: 200px;
    width: 23px;
    height: 10px;
}

#proh10{
    position: absolute;
    top: 77px;
    left: 200px;
    width: 23px;
    height: 21px;
}

#proh11{
    position: absolute;
    top: 90px;
    left: 43px;
    width: 29px;
    height: 18px;
}

#proh12{
    position: absolute;
    top: 123px;
    left: 66px;
    width: 29px;
    height: 59px;
}

#proh13{
    position: absolute;
    top: 144px;
    left: 97px;
    width: 23px;
    height: 38px;
}

#proh14{
    position: absolute;
    top: 134px;
    left: 122px;
    width: 24px;
    height: 47px;
}

#proh15{
    position: absolute;
    top: 135px;
    left: 148px;
    width: 24px;
    height: 46px;
}


#proh16{
    position: absolute;
    top: 208px;
    left: 90px;
    width: 54px;
    height: 54px;
}


#proh17{
    position: absolute;
    top: 208px;
    left: 146px;
    width: 25px;
    height: 54px;
}


#proh18{
    position: absolute;
    top: 208px;
    left: 173px;
    width: 22px;
    height: 54px;
}

#proh19{
    position: absolute;
    top: 208px;
    left: 197px;
    width: 23px;
    height: 54px;
}

#proh20{
    position: absolute;
    top: 208px;
    left: 222px;
    width: 28px;
    height: 54px;
}

#lift1{
    position: absolute;
    top: 208px;
    left: 222px;
    width: 28px;
    height: 54px;
}


#lift1{
    position: absolute;
    top: 139px;
    left: 200px;
    width: 24px;
    height: 23px;
}


#lift2{
    position: absolute;
    top: 136px;
    left: 242px;
    width: 16px;
    height: 16px;
}

#lift3{
    position: absolute;
    top: 154px;
    left: 242px;
    width: 16px;
    height: 15px;
}


#lift4{
    position: absolute;
    top: 137px;
    left: 289px;
    width: 17px;
    height: 15px;
}

#lift5{
    position: absolute;
    top: 154px;
    left: 289px;
    width: 17px;
    height: 15px;
}

#av1{
    position: absolute;
    top: 49px;
    left: 353px;
    width: 101px;
    height: 51px;
}


#av2{
    position: absolute;
    top: 210px;
    left: 286px;
    width: 64px;
    height: 43px;
}

#av3{
    position: absolute;
    top: 210px;
    left: 352px;
    width: 48px;
    height: 52px;
}

#ses1{
    position: absolute;
    top: 135px;
    left: 174px;
    width: 23px;
    height: 28px;
}


#ses4{
    position: absolute;
    top: 126px;
    left: 199px;
    width: 7px;
    height: 11px;
}


#ses5{
    width: 4px;
    height: 12px;
    position: absolute;
    top: 170px;
    left: 170px;
    
}


#ses6{
    position: absolute;
    top: 164px;
    left: 200px;
    width: 24px;
    height: 17px;
}


#ses8{
    position: absolute;
    top: 126px;
    left: 251px;
    width: 16px;
    height: 8px;
}


#ses9{
    position: absolute;
    top: 171px;
    left: 242px;
    width: 24px;
    height: 10px;
}


#ses10{
    position: absolute;
    top: 126px;
    left: 280px;
    width: 26px;
    height: 9px;
}


#ses11{
    position: absolute;
    top: 171px;
    left: 280px;
    width: 26px;
    height: 10px;
}


#ses12{
    position: absolute;
    top: 49px;
    left: 329px;
    width: 22px;
    height: 51px;
}


#proh21{
    position: absolute;
    top: 55px;
    left: 510px;
    width: 10px;
}

#proh22{
    position: absolute;
    top: 55px;
    left: 535px;
    width: 10px;
}

#proh23{
    position: absolute;
    top: 55px;
    left: 560px;
    width: 10px;
}
#proh24{
    position: absolute;
    top: 55px;
    left: 590px;
    width: 10px;
}

#proh25{
    position: absolute;
    top: 90px;
    left: 590px;
    width: 10px;
}
#proh26{
    position: absolute;
    top: 55px;
    left: 620px;
    width: 10px;
}
#proh27{
    position: absolute;
    top: 110px;
    left: 620px;
    width: 10px;
}
#proh28{
    position: absolute;
    top: 135px;
    left: 620px;
    width: 10px;
}
#proh29{
    position: absolute;
    top: 160px;
    left: 620px;
    width: 10px;
}
#proh30{
    position: absolute;
    top: 185px;
    left: 620px;
    width: 10px;
}

#proh31{
    position: absolute;
    top: 135px;
    left: 510px;
    width: 10px;
}

#proh32{
    position: absolute;
    top: 135px;
    left: 535px;
    width: 10px;
}

#proh33{
    position: absolute;
    top: 210px;
    left: 620px;
    width: 10px;
}
#proh34{
    position: absolute;
    top: 240px;
    left: 620px;
    width: 10px;
}
#proh35{
    position: absolute;
    top: 265px;
    left: 620px;
    width: 10px;
}
#proh36{
    position: absolute;
    top: 290px;
    left: 620px;
    width: 10px;
}
#proh37{
    position: absolute;
    top: 265px;
    left: 540px;
    width: 10px;
}
#proh38{
    position: absolute;
    top: 265px;
    left: 560px;
    width: 10px;
}
#proh39{
    position: absolute;
    top: 290px;
    left: 540px;
    width: 10px;
}
#proh40{
    position: absolute;
    top: 310px;
    left: 540px;
    width: 10px;
}
#proh41{
    position: absolute;
    top: 340px;
    left: 560px;
    width: 10px;
}
#proh42{
    position: absolute;
    top: 320px;
    left: 620px;
    width: 10px;
}
#proh43{
    position: absolute;
    top: 345px;
    left: 620px;
    width: 10px;
}
#proh44{
    position: absolute;
    top: 370px;
    left: 620px;
    width: 10px;
}
#av4{
    position: absolute;
    top: 225px;
    left: 416px;
    width: 10px;
}

#av5{
    position: absolute;
    top: 225px;
    left: 470px;
    width: 10px;
}
#av6{
    position: absolute;
    top: 270px;
    left: 470px;
    width: 10px;
}
#av7{
    position: absolute;
    top: 330px;
    left: 470px;
    width: 10px;
}
#av8{
    position: absolute;
    top: 385px;
    left: 470px;
    width: 10px;
}
#cow1{
    position: absolute;
    top: 55px;
    left: 485px;
    width: 10px;
}
#cow2{
    position: absolute;
    top: 140px;
    left: 485px;
    width: 10px;
}
#cow3{
    position: absolute;
    top: 140px;
    left: 405px;
    width: 10px;
}
#cow4{
    position: absolute;
    top: 140px;
    left: 380px;
    width: 10px;
}
#cow5{
    position: absolute;
    top: 140px;
    left: 355px;
    width: 10px;
}
#ses13{
    position: absolute;
    top: 55px;
    left: 455px;
    width: 10px;
}
#ses14{
    position: absolute;
    top: 140px;
    left: 455px;
    width: 10px;
}
#ses15{
    position: absolute;
    top: 140px;
    left: 426px;
    width: 10px;
}
#ses16{
    position: absolute;
    top: 185px;
    left: 530px;
    width: 10px;
}
#ses17{
    position: absolute;
    top: 210px;
    left: 540px;
    width: 10px;
}
#ses18{
    position: absolute;
    top: 235px;
    left: 540px;
    width: 10px;
}
#ses19{
    position: absolute;
    top: 340px;
    left: 535px;
    width: 10px;
}
#tol1{
    position: absolute;
    top: 370px;
    left: 530px;
    width: 10px;   
}
#tol2{
    position: absolute;
    top: 370px;
    left: 560px;
    width: 10px;   
}
#lift6{
    position: absolute;
    top: 135px;
    left: 565px;
    width: 10px;
}
#lift7{
    position: absolute;
    top: 160px;
    left: 565px;
    width: 10px;
}
#lift8{
    position: absolute;
    top: 183px;
    left: 565px;
    width: 10px;
}
