html, body {
   padding:0;
   margin:0;
   display: flex;
   width: 100%;
   height: 100%;
}

body { font-family:'Courier New', Courier, monospace}

.pikcha{
    width: 720px;
    height: auto;
}

button{
    padding:0;
    border: 0;
    min-size: 2px;
    background: transparent;
    cursor: pointer;
    font-size: 10px;
}

button:hover{
    color:aqua;
}

#proh1{
    position: absolute;
    top: 49px;
    left: 43px;
    width: 55px;
    height: 38px;
}

#proh2{
    position: absolute;
    top: 49px;
    left: 100px;
    width: 47px;
    height: 38px;
}

#proh3{
    position: absolute;
    top: 49px;
    left: 149px;
    width: 23px;
    height: 18px;
}

#proh4{
    position: absolute;
    top: 68px;
    left: 149px;
    width: 23px;
    height: 20px;
}

#proh5{
    position: absolute;
    top: 48px;
    left: 174px;
    width: 24px;
    height: 7px;
}

#proh6{
    position: absolute;
    top: 58px;
    left: 174px;
    width: 13px;
    height: 9px;
}

#proh7{
    position: absolute;
    top: 69px;
    left: 174px;
    width: 13px;
    height: 19px;
}

#proh8{
    position: absolute;
    top: 49px;
    left: 200px;
    width: 23px;
    height: 14px;
}

#proh9{
    position: absolute;
    top: 65px;
    left: 200px;
    width: 23px;
    height: 10px;
}

#proh10{
    position: absolute;
    top: 77px;
    left: 200px;
    width: 23px;
    height: 21px;
}

#proh11{
    position: absolute;
    top: 90px;
    left: 43px;
    width: 29px;
    height: 18px;
}

#proh12{
    position: absolute;
    top: 123px;
    left: 66px;
    width: 29px;
    height: 59px;
}

#proh13{
    position: absolute;
    top: 144px;
    left: 97px;
    width: 23px;
    height: 38px;
}

#proh14{
    position: absolute;
    top: 134px;
    left: 122px;
    width: 24px;
    height: 47px;
}

#proh15{
    position: absolute;
    top: 135px;
    left: 148px;
    width: 24px;
    height: 46px;
}

#proh16{
    position: absolute;
    top: 208px;
    left: 90px;
    width: 54px;
    height: 54px;
}

#proh17{
    position: absolute;
    top: 208px;
    left: 146px;
    width: 25px;
    height: 54px;
}

#proh18{
    position: absolute;
    top: 208px;
    left: 173px;
    width: 22px;
    height: 54px;
}

#proh19{
    position: absolute;
    top: 208px;
    left: 197px;
    width: 23px;
    height: 54px;
}

#proh20{
    position: absolute;
    top: 208px;
    left: 222px;
    width: 28px;
    height: 54px;
}

#proh21{
    position: absolute;
    top: 49px;
    left: 508px;
    width: 24px;
    height: 51px;
}

#proh22{
    position: absolute;
    top: 49px;
    left: 534px;
    width: 24px;
    height: 51px;
}

#proh23{
    position: absolute;
    top: 49px;
    left: 560px;
    width: 24px;
    height: 51px;
}

#proh24{
    position: absolute;
    top: 49px;
    left: 586px;
    width: 24px;
    height: 38px;
}

#proh25{
    position: absolute;
    top: 49px;
    left: 612px;
    width: 56px;
    height: 55px;
}


#proh26{
    position: absolute;
    top: 106px;
    left: 612px;
    width: 56px;
    height: 22px;
}

#proh27{
    position: absolute;
    top: 130px;
    left: 612px;
    width: 56px;
    height: 23px;
}

#proh28{
    position: absolute;
    top: 155px;
    left: 612px;
    width: 56px;
    height: 26px;
}

#proh29{
    position: absolute;
    top: 183px;
    left: 612px;
    width: 56px;
    height: 23px;
}

#proh30{
    position: absolute;
    top: 135px;
    left: 507px;
    width: 23px;
    height: 33px;
}

#proh31{
    position: absolute;
    top: 134px;
    left: 532px;
    width: 27px;
    height: 47px;
}

#proh32{
    position: absolute;
    top: 208px;
    left: 612px;
    width: 56px;
    height: 22px;
}

#proh33{
    position: absolute;
    top: 232px;
    left: 612px;
    width: 56px;
    height: 28px;
}

#proh34{
    position: absolute;
    top: 262px;
    left: 612px;
    width: 56px;
    height: 23px;
}

#proh35{
    position: absolute;
    top: 287px;
    left: 612px;
    width: 56px;
    height: 23px;
}

#proh36{
    position: absolute;
    top: 258px;
    left: 540px;
    width: 25px;
    height: 26px;
}

#proh37{
    position: absolute;
    top: 258px;
    left: 567px;
    width: 8px;
    height: 26px;
}

#proh38{
    position: absolute;
    top: 286px;
    left: 540px;
    width: 34px;
    height: 23px;
}

#proh39{
    position: absolute;
    top: 311px;
    left: 540px;
    width: 34px;
    height: 24px;
}

#proh40{
    position: absolute;
    top: 338px;
    left: 560px;
    width: 15px;
    height: 25px;
}

#proh41{
    position: absolute;
    top: 312px;
    left: 612px;
    width: 56px;
    height: 28px;
}

#proh42{
    position: absolute;
    top: 342px;
    left: 612px;
    width: 56px;
    height: 23px;
}

#proh43{
    position: absolute;
    top: 366px;
    left: 614px;
    width: 54px;
    height: 22px;
}

#proh44{
    position: absolute;
    top: 524px;
    left: 547px;
    width: 29px;
    height: 24px;
}

#proh45{
    position: absolute;
    top: 550px;
    left: 528px;
    width: 48px;
    height: 28px;
}

#proh46{
    position: absolute;
    top: 579px;
    left: 528px;
    width: 48px;
    height: 21px;
}

#proh47{
    position: absolute;
    top: 602px;
    left: 523px;
    width: 42px;
    height: 25px;
}

#proh48{
    position: absolute;
    top: 630px;
    left: 523px;
    width: 53px;
    height: 33px;
}

#proh49{
    position: absolute;
    top: 539px;
    left: 626px;
    width: 21px;
    height: 10px;
}

#proh50{
    position: absolute;
    top: 539px;
    left: 649px;
    width: 11px;
    height: 19px;
}

#proh51{
    position: absolute;
    top: 550px;
    left: 626px;
    width: 21px;
    height: 27px;
}

#proh52{
    position: absolute;
    top: 559px;
    left: 649px;
    width: 11px;
    height: 18px;
}

#proh53{
    position: absolute;
    top: 579px;
    left: 626px;
    width: 41px;
    height: 54px;
}

#proh54{
    position: absolute;
    top: 634px;
    left: 626px;
    width: 41px;
    height: 53px;
}

#proh55{
    position: absolute;
    top: 660px;
    left: 603px;
    width: 21px;
    height: 27px;
}



#lift1{
    position: absolute;
    top: 208px;
    left: 222px;
    width: 28px;
    height: 54px;
}

#lift1{
    position: absolute;
    top: 139px;
    left: 200px;
    width: 24px;
    height: 23px;
}

#lift2{
    position: absolute;
    top: 136px;
    left: 242px;
    width: 16px;
    height: 16px;
}

#lift3{
    position: absolute;
    top: 154px;
    left: 242px;
    width: 16px;
    height: 15px;
}

#lift4{
    position: absolute;
    top: 137px;
    left: 289px;
    width: 17px;
    height: 15px;
}

#lift5{
    position: absolute;
    top: 154px;
    left: 289px;
    width: 17px;
    height: 15px;
}

#lift6{
    position: absolute;
    top: 135px;
    left: 563px;
    width: 21px;
    height: 19px;
}

#lift7{
    position: absolute;
    top: 156px;
    left: 562px;
    width: 22px;
    height: 25px;
}

#lift8{
    position: absolute;
    top: 183px;
    left: 562px;
    width: 22px;
    height: 18px;
}

#lift9{
    position: absolute;
    top: 407px;
    left: 539px;
    width: 16px;
    height: 19px;
}

#lift10{
    position: absolute;
    top: 407px;
    left: 556px;
    width: 16px;
    height: 19px;
}

#lift11{
    position: absolute;
    top: 457px;
    left: 539px;
    width: 16px;
    height: 19px;
}

#lift12{
    position: absolute;
    top: 457px;
    left: 556px;
    width: 16px;
    height: 19px;
}

#lift13{
    position: absolute;
    top: 495px;
    left: 543px;
    width: 26px;
    height: 27px;
}



#av1{
    position: absolute;
    top: 49px;
    left: 353px;
    width: 101px;
    height: 51px;
}

#av2{
    position: absolute;
    top: 210px;
    left: 286px;
    width: 64px;
    height: 43px;
}

#av3{
    position: absolute;
    top: 210px;
    left: 352px;
    width: 48px;
    height: 52px;
}

#av4{
    position: absolute;
    top: 210px;
    left: 402px;
    width: 51px;
    height: 43px;
}

#av5{
    position: absolute;
    top: 210px;
    left: 455px;
    width: 47px;
    height: 43px;
}

#av6{
    position: absolute;
    top: 264px;
    left: 444px;
    width: 58px;
    height: 45px;
}

#av7{
    position: absolute;
    top: 311px;
    left: 444px;
    width: 58px;
    height: 51px;
}

#av8{
    position: absolute;
    top: 364px;
    left: 444px;
    width: 58px;
    height: 52px;
}

#av9{
    position: absolute;
    top: 452px;
    left: 443px;
    width: 55px;
    height: 69px;
}

#av10{
    position: absolute;
    top: 549px;
    left: 443px;
    width: 55px;
    height: 84px;
}



#ses1{
    position: absolute;
    top: 135px;
    left: 174px;
    width: 23px;
    height: 28px;
}

#ses2{
    position: absolute;
    top: 165px;
    left: 174px;
    width: 10px;
    height: 16px;
}

#ses3{
    position: absolute;
    top: 165px;
    left: 187px;
    width: 10px;
    height: 16px;
}

#ses4{
    position: absolute;
    top: 126px;
    left: 199px;
    width: 7px;
    height: 11px;
}

#ses5{
    position: absolute;
    top: 126px;
    left: 208px;
    width: 16px;
    height: 11px;

}

#ses6{
    position: absolute;
    top: 164px;
    left: 200px;
    width: 24px;
    height: 17px;
}

#ses7{
    position: absolute;
    top: 126px;
    left: 242px;
    width: 7px;
    height: 8px;
}

#ses8{
    position: absolute;
    top: 126px;
    left: 251px;
    width: 16px;
    height: 8px;
}

#ses9{
    position: absolute;
    top: 171px;
    left: 242px;
    width: 24px;
    height: 10px;
}

#ses10{
    position: absolute;
    top: 126px;
    left: 280px;
    width: 26px;
    height: 9px;
}

#ses11{
    position: absolute;
    top: 171px;
    left: 280px;
    width: 26px;
    height: 10px;
}

#ses12{
    position: absolute;
    top: 49px;
    left: 329px;
    width: 22px;
    height: 51px;
}

#ses13{
    position: absolute;
    top: 48px;
    left: 456px;
    width: 24px;
    height: 51px;
}

#ses14{
    position: absolute;
    top: 134px;
    left: 455px;
    width: 26px;
    height: 33px;
}

#ses15{
    position: absolute;
    top: 134px;
    left: 429px;
    width: 24px;
    height: 33px;
}

#ses16{
    position: absolute;
    top: 183px;
    left: 534px;
    width: 25px;
    height: 23px;
}

#ses17{
    position: absolute;
    top: 208px;
    left: 540px;
    width: 35px;
    height: 22px;
}

#ses18{
    position: absolute;
    top: 232px;
    left: 540px;
    width: 35px;
    height: 24px;
}

#ses19{
    position: absolute;
    top: 338px;
    left: 540px;
    width: 18px;
    height: 25px;
}

#ses20{
    position: absolute;
    top: 406px;
    left: 527px;
    width: 10px;
    height: 26px;
}

#ses21{
    position: absolute;
    top: 406px;
    left: 574px;
    width: 9px;
    height: 26px;
}

#ses22{
    position: absolute;
    top: 449px;
    left: 527px;
    width: 10px;
    height: 26px;
}

#ses23{
    position: absolute;
    top: 449px;
    left: 574px;
    width: 9px;
    height: 26px;
}

#ses24{
    position: absolute;
    top: 495px;
    left: 528px;
    width: 13px;
    height: 27px;
}

#ses25{
    position: absolute;
    top: 495px;
    left: 571px;
    width: 13px;
    height: 27px;
}

#ses26{
    position: absolute;
    top: 524px;
    left: 529px;
    width: 16px;
    height: 12px;
}

#ses27{
    position: absolute;
    top: 538px;
    left: 528px;
    width: 17px;
    height: 11px;
}



#cow1{
    position: absolute;
    top: 49px;
    left: 482px;
    width: 23px;
    height: 50px;
}

#cow2{
    position: absolute;
    top: 135px;
    left: 482px;
    width: 23px;
    height: 32px;
}

#cow3{
    position: absolute;
    top: 135px;
    left: 404px;
    width: 23px;
    height: 32px;
}

#cow4{
    position: absolute;
    top: 135px;
    left: 378px;
    width: 23px;
    height: 32px;
}

#cow5{
    position: absolute;
    top: 135px;
    left: 354px;
    width: 22px;
    height: 32px;
}




#tol1{
    position: absolute;
    top: 365px;
    left: 528px;
    width: 27px;
    height: 27px;
}

#tol2{
    position: absolute;
    top: 365px;
    left: 557px;
    width: 27px;
    height: 27px;
}

#tol3{
    position: absolute;
    top: 126px;
    left: 320px;
    width: 31px;
    height: 26px;
}

#tol4{
    position: absolute;
    top: 154px;
    left: 320px;
    width: 31px;
    height: 27px;
}


.window {
    background-color: white;
    border: 0.02vw solid darkblue;
    border-radius: 1vw;
    font-size: 2vw;
    text-align: center;
    color:blue;
    position: absolute;
    margin: 15vw 30vw 15vw 30vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1vw 1vw 1vw 1vw;
    box-shadow: 0 0 720px 720px rgba(51, 54, 100, 0.5);
    
}
.window:target {display: block;}
.close {
    display: inline-block;
    color: white;
    padding: 1vw 1vw 1vw 1vw;
    background-color: blue;
    border-radius: 1vw;
    margin-top: 1vw;
    
    text-decoration: none;
    cursor: pointer;
}
.close:hover{
    background-color: blueviolet;
}
#window_b1, #window_b2, #window_b3, #window_b4, #window_b5, #window_b6{
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;

}
#window_b1:target {display: block;}
#window_b2:target {display: block;}
#window_b3:target {display: block;}
#window_b4:target {display: block;}
#window_b5:target {display: block;}
#window_b6:target {display: block;}
