<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="static/лагуна.css">
<link rel="icon" href="favicon.ico">
</head>
<body>
<section class="common">
    <img src="static/8этаж.svg" class="pikcha">

    <div id="window_b1">
        <div class="window">
            <div class="win1"></div>
            <a href="#" class="close">Закрыть окно</a>
        </div>
    </div>

    <a href="#window_b1">
        <button onclick="work_with_window(1,0)" class="available" id="av1">1</button> <!--разрешённые для посещения студентам -->
        <button onclick="work_with_window(2,0)" class="available" id="av2">2</button>
        <button onclick="work_with_window(3,0)" class="available" id="av3">3</button>
        <button onclick="work_with_window(4,0)" class="available" id="av4">4</button>
        <button onclick="work_with_window(5,0)" class="available" id="av5">5</button>
        <button onclick="work_with_window(6,0)" class="available" id="av6">6</button>
        <button onclick="work_with_window(7,0)" class="available" id="av7">7</button>
        <button onclick="work_with_window(8,0)" class="available" id="av8">8</button>
        <button onclick="work_with_window(9,0)" class="available" id="av9">9</button>
        <button onclick="work_with_window(10,0)" class="available" id="av10">10</button>

        <button onclick="work_with_window(1,1)" class="prohibited_zone" id="proh1">1</button>
        <button onclick="work_with_window(2,1)" class="prohibited_zone" id="proh2">2</button>
        <button onclick="work_with_window(3,1)" class="prohibited_zone" id="proh3">3</button>
        <button onclick="work_with_window(4,1)" class="prohibited_zone" id="proh4">4</button>
        <button onclick="work_with_window(5,1)" class="prohibited_zone" id="proh5">5</button>
        <button onclick="work_with_window(6,1)" class="prohibited_zone" id="proh6">6</button>
        <button onclick="work_with_window(7,1)" class="prohibited_zone" id="proh7">7</button>
        <button onclick="work_with_window(8,1)" class="prohibited_zone" id="proh8">8</button>
        <button onclick="work_with_window(9,1)" class="prohibited_zone" id="proh9">9</button>
        <button onclick="work_with_window(10,1)" class="prohibited_zone" id="proh10">10</button>
        <button onclick="work_with_window(11,1)" class="prohibited_zone" id="proh11">11</button>
        <button onclick="work_with_window(12,1)" class="prohibited_zone" id="proh12">12</button>
        <button onclick="work_with_window(13,1)" class="prohibited_zone" id="proh13">13</button>
        <button onclick="work_with_window(14,1)" class="prohibited_zone" id="proh14">14</button>
        <button onclick="work_with_window(15,1)" class="prohibited_zone" id="proh15">15</button>
        <button onclick="work_with_window(16,1)" class="prohibited_zone" id="proh16">16</button>
        <button onclick="work_with_window(17,1)" class="prohibited_zone" id="proh17">17</button>
        <button onclick="work_with_window(18,1)" class="prohibited_zone" id="proh18">18</button>
        <button onclick="work_with_window(19,1)" class="prohibited_zone" id="proh19">19</button>
        <button onclick="work_with_window(20,1)" class="prohibited_zone" id="proh20">20</button>
        <button onclick="work_with_window(21,1)" class="prohibited_zone" id="proh21">21</button>
        <button onclick="work_with_window(22,1)" class="prohibited_zone" id="proh22">22</button>
        <button onclick="work_with_window(23,1)" class="prohibited_zone" id="proh23">23</button>
        <button onclick="work_with_window(24,1)" class="prohibited_zone" id="proh24">24</button>
        <button onclick="work_with_window(25,1)" class="prohibited_zone" id="proh25">25</button>
        <button onclick="work_with_window(26,1)" class="prohibited_zone" id="proh26">26</button>
        <button onclick="work_with_window(27,1)" class="prohibited_zone" id="proh27">27</button>
        <button onclick="work_with_window(28,1)" class="prohibited_zone" id="proh28">28</button>
        <button onclick="work_with_window(29,1)" class="prohibited_zone" id="proh29">29</button>
        <button onclick="work_with_window(30,1)" class="prohibited_zone" id="proh30">30</button>
        <button onclick="work_with_window(31,1)" class="prohibited_zone" id="proh31">31</button>
        <button onclick="work_with_window(32,1)" class="prohibited_zone" id="proh32">32</button>
        <button onclick="work_with_window(33,1)" class="prohibited_zone" id="proh33">33</button>
        <button onclick="work_with_window(34,1)" class="prohibited_zone" id="proh34">34</button>
        <button onclick="work_with_window(35,1)" class="prohibited_zone" id="proh35">35</button>
        <button onclick="work_with_window(36,1)" class="prohibited_zone" id="proh36">36</button>
        <button onclick="work_with_window(37,1)" class="prohibited_zone" id="proh37">37</button>
        <button onclick="work_with_window(38,1)" class="prohibited_zone" id="proh38">38</button>
        <button onclick="work_with_window(39,1)" class="prohibited_zone" id="proh39">39</button>
        <button onclick="work_with_window(40,1)" class="prohibited_zone" id="proh40">40</button>
        <button onclick="work_with_window(41,1)" class="prohibited_zone" id="proh41">41</button>
        <button onclick="work_with_window(42,1)" class="prohibited_zone" id="proh42">42</button>
        <button onclick="work_with_window(43,1)" class="prohibited_zone" id="proh43">43</button>
        <button onclick="work_with_window(44,1)" class="prohibited_zone" id="proh44">44</button>
        <button onclick="work_with_window(45,1)" class="prohibited_zone" id="proh45">45</button>
        <button onclick="work_with_window(46,1)" class="prohibited_zone" id="proh46">46</button>
        <button onclick="work_with_window(47,1)" class="prohibited_zone" id="proh47">47</button>
        <button onclick="work_with_window(48,1)" class="prohibited_zone" id="proh48">48</button>
        <button onclick="work_with_window(49,1)" class="prohibited_zone" id="proh49">49</button>
        <button onclick="work_with_window(50,1)" class="prohibited_zone" id="proh50">50</button>
        <button onclick="work_with_window(51,1)" class="prohibited_zone" id="proh51">51</button>
        <button onclick="work_with_window(52,1)" class="prohibited_zone" id="proh52">52</button>
        <button onclick="work_with_window(53,1)" class="prohibited_zone" id="proh53">53</button>
        <button onclick="work_with_window(54,1)" class="prohibited_zone" id="proh54">54</button>
        <button onclick="work_with_window(55,1)" class="prohibited_zone" id="proh55">55</button>

        <button onclick="work_with_window(1,2)" class="service_space" id="ses1"> 1</button>
        <button onclick="work_with_window(2,2)" class="service_space" id="ses2"> 2</button>
        <button onclick="work_with_window(3,2)" class="service_space" id="ses3"> 3</button>
        <button onclick="work_with_window(4,2)" class="service_space" id="ses4"> 4</button>
        <button onclick="work_with_window(5,2)" class="service_space" id="ses5"> 5</button>
        <button onclick="work_with_window(6,2)" class="service_space" id="ses6"> 6</button>
        <button onclick="work_with_window(7,2)" class="service_space" id="ses7"> 7</button>
        <button onclick="work_with_window(8,2)" class="service_space" id="ses8"> 8</button>
        <button onclick="work_with_window(9,2)" class="service_space" id="ses9"> 9</button>
        <button onclick="work_with_window(10,2)" class="service_space" id="ses10"> 10</button>
        <button onclick="work_with_window(11,2)" class="service_space" id="ses11"> 11</button>
        <button onclick="work_with_window(12,2)" class="service_space" id="ses12"> 12</button>
        <button onclick="work_with_window(13,2)" class="service_space" id="ses13"> 13</button>
        <button onclick="work_with_window(14,2)" class="service_space" id="ses14"> 14</button>
        <button onclick="work_with_window(15,2)" class="service_space" id="ses15"> 15</button>
        <button onclick="work_with_window(16,2)" class="service_space" id="ses16"> 16</button>
        <button onclick="work_with_window(17,2)" class="service_space" id="ses17"> 17</button>
        <button onclick="work_with_window(18,2)" class="service_space" id="ses18"> 18</button>
        <button onclick="work_with_window(19,2)" class="service_space" id="ses19"> 19</button>
        <button onclick="work_with_window(20,2)" class="service_space" id="ses20"> 20</button>
        <button onclick="work_with_window(21,2)" class="service_space" id="ses21"> 21</button>
        <button onclick="work_with_window(22,2)" class="service_space" id="ses22"> 22</button>
        <button onclick="work_with_window(23,2)" class="service_space" id="ses23"> 23</button>
        <button onclick="work_with_window(24,2)" class="service_space" id="ses24"> 24</button>
        <button onclick="work_with_window(25,2)" class="service_space" id="ses25"> 25</button>
        <button onclick="work_with_window(26,2)" class="service_space" id="ses26"> 26</button>
        <button onclick="work_with_window(27,2)" class="service_space" id="ses27"> 27</button>

        <button onclick="work_with_window(1,3)" class="lift" id="lift1">1</button>
        <button onclick="work_with_window(2,3)" class="lift" id="lift2">2</button>
        <button onclick="work_with_window(3,3)" class="lift" id="lift3">3</button>
        <button onclick="work_with_window(4,3)" class="lift" id="lift4">4</button>
        <button onclick="work_with_window(5,3)" class="lift" id="lift5">5</button>
        <button onclick="work_with_window(6,3)" class="lift" id="lift6">6</button>
        <button onclick="work_with_window(7,3)" class="lift" id="lift7">7</button>
        <button onclick="work_with_window(8,3)" class="lift" id="lift8">8</button>
        <button onclick="work_with_window(9,3)" class="lift" id="lift9">9</button>
        <button onclick="work_with_window(10,3)" class="lift" id="lift10">10</button>
        <button onclick="work_with_window(11,3)" class="lift" id="lift11">11</button>
        <button onclick="work_with_window(12,3)" class="lift" id="lift12">12</button>
        <button onclick="work_with_window(13,3)" class="lift" id="lift13">13</button>

        <button onclick="work_with_window(1,4)" class="coworking" id="cow1">1</button> <!--Коворкинги-->
        <button onclick="work_with_window(2,4)" class="coworking" id="cow2">2</button>
        <button onclick="work_with_window(3,4)" class="coworking" id="cow3">3</button>
        <button onclick="work_with_window(4,4)" class="coworking" id="cow4">4</button>

        <button onclick="work_with_window(1,5)" class="toilet" id="tol1">1</button> <!--туалеты-->
        <button onclick="work_with_window(2,5)" class="toilet" id="tol2">2</button>
        <button onclick="work_with_window(3,5)" class="toilet" id="tol3">3</button>
        <button onclick="work_with_window(4,5)" class="toilet" id="tol4">4</button>
    </a>
</section>
<script src="{{url_for('static', filename='windows.js')}}"></script>
</body>
</html>